LNBITS_HOST=0.0.0.0
LNBITS_PORT=5000
LNBITS_DATA_FOLDER=/data
LNBITS_DEBUG=true
LNBITS_ALLOWED_HOSTS=*
LNBITS_ADMIN_UI=true
OPENNODE_KEY=
OPENNODE_API_ENDPOINT=https://api.opennode.com/
LNBITS_BACKEND_WALLET_CLASS=OpenNodeWallet